@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model SitemapPerormanceAnalyzer.Models.IndexViewModel
}

<h2>PerformanceResult</h2>
@Html.ActionLink("Back to search page", "Index", "Home")
<br />
@if (ViewBag.SitemapPerformanceResults != null)
{
    <p>Total amount of sitemap elements =  @ViewBag.ResultsAmount</p>
    <br/>
    <table>
        <tr>
            <td>URL</td>
            <td>Miliseconds</td>
        </tr>
        @foreach (var performanceResult in Model.PerformanceModels)
        {
            <tr>
                <td>@performanceResult.Url</td>
                <td>@performanceResult.ResponseTime.Milliseconds</td>
            </tr>
        }
    </table>
    <br />
}

<br />

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="PerformanceResult"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-pageSize="@(Model.PageViewModel.PageSize)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="PerformanceResult"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-pageSize="@(Model.PageViewModel.PageSize)"
       class="btn btn-default btn">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}